{
  "DB_HOSTNAME":"got_api_mysql_1",
  "DB_PORT":"3306",
  "DB_DATABASE":"got",
  "DB_USERNAME":"root",
  "DB_PASSWORD":"root",
  "DB_CHARSET":"utf8",
  "ELASTIC_HOST":"got_api_elastic_1",
  "ELASTIC_PORT":"9200"
}
